<!-- <div class="container"> -->
<!--     <p id="msg"></p> -->
<!-- </div> -->
<!-- <footer> -->
<!--     <button id="cancelButton" onclick="sendCancel()">Cancel</button> -->
<!-- </footer> -->

<div class="container">
    <p id="msg"></p>
    <form id="cpfForm" onsubmit="sendName()">
        <input
            id="cpfInput"
            type="text"
            inputmode="numeric"
            maxlength="11"
            placeholder="Your CPF"
            autocomplete="off"
        />
        <button id="startButton" type="submit">Send</button>
    </form>
</div>

<footer>
    <button id="cancelButton" onclick="sendCancel()">Cancel</button>
</footer>
